<h1>Password Change</h1>
<form method="post" action="/password/change">
  <input type="password" name="password_new" placeholder="password" />
  <input type="submit" name="action" value="Change password">
</form>