<h1>Sign Up</h1>
<form method="post" action="/sign_up">
  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password_new" placeholder="password" />
  <input type="submit" name="action" value="Sign up">
</form>