<h1>Sign In</h1>
<form method="post" action="/sign_in">
  <input type="text" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" name="action" value="Sign in">
</form>
<a href="/password/reset">Forgot password?</a>